@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-parisienne: "Parisienne", cursive;
  
  --color-roxo: #980A68;
  --color-roxo-escuro: #7A1C52;
  --color-roxo-muito-escuro: #680747;
  --color-preto: #141010;
  --color-preto-fraco: #2B2725;
  --color-branco: #FFF3EA;
  --color-branco-escuro: #F9ECE2;
}


:root {
  font-family: var(--font-outfit);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-preto);
  /* background-color: var(--color-branco); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
  line-height: 1.2;
}

button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-roxo-escuro);
  cursor: pointer;
  transition: all 0.25s;
}
button:hover {
  background-color: var(--color-roxo-muito-escuro);
}

